body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 850px;
    margin: 0% 10% 0%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(36, 39, 41);
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f8f8f8f0;
    animation: 3s ease-out 0s 1 container;
}

.content {
    display: clear;
}

.blocks {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.personal_info {
    justify-content: space-between;
}

.nameOfperson>h1 {
    font-weight: bold;
}

.verticalline {
    border-left: 2px solid #b0afd1;
    margin-left: -3px;
    margin-right: 1em;
    top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding-bottom: .3em;
    margin: 10px 0;
    color: #000;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
}

h6:after {
    content: ":";
    font-weight: bolder;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
}

.personalinfo ul {
    padding: 0;
}

.personalIngoList {
    padding: 0;
}

ul:not(.personalIngoList)>li {
    padding-left: 1em;
    text-indent: -1em;
}

ul:not(.personalIngoList)>li:before {
    list-style-type: disc;
    content: "•";
    padding-right: 1em;
}

img {
    border: 1px solid #ddd;
    width: 300px;
    height: 200px;
    opacity: 0.5;
    transition: all 2s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0;
}

img:hover {
    opacity: 1;
    border-radius: 5%;
    box-shadow: 0 0 0 3px rgba(117, 117, 117, 1);
    transition: all 2s ease-in-out;
}

label {
    text-align: left;
    display: inline-block;
    width: 25%;
}

label:after {
    content: ":";
}

input {
    width: 72%;
    border: 0;
    outline: none;
    color: #000;
    color: rgb(0, 0, 0);
    background: #f8f8f8f0;
}

@media (min-width: 560px) and (max-width: 850px) {
    .container {
        margin: 0 10%;
        display: flex;
    }
    .personal_info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 559px) {
    .container {
        margin: 1% 1%;
        padding: 0%;
        min-width: 320px;
    }
    .personal_info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    img {
        padding: 0%;
        width: 300px;
        height: 200px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 320;
    }
    ul {
        padding-left: 0.25em;
    }
}

@keyframes container {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
    0% {
        opacity: 0;
        color: hsla(224, 100%, 50%, 0.945);
        background: #f8f7f7f0;
    }
    100% {
        opacity: 1;
    }
}